.conteudo {
    text-align: center;
    color: rgb(242, 242, 246);
}

body {
    background-image: url('https://i.pinimg.com/1200x/f4/ee/63/f4ee63a90de1c75844f1aa8a193c11a8.jpg');
    background-size: cover;

    /* Configurações para a imagem ficar perfeita */
    background-size: cover;          /* Cobre toda a tela */
    background-position: center;     /* Centraliza a imagem, focando no meio dela */
    background-repeat: no-repeat;    /* Impede que a imagem crie "ladrilhos" se a tela for muito grande */
    background-attachment: fixed;    /* Deixa o fundo fixo. Se a página rolar para baixo, a imagem fica parada */
    
    /* Garante que o body ocupe 100% da altura da tela */
    min-height: 100vh;
    margin: 0; /* Tira as margens brancas chatas que o navegador coloca por padrão */
}
