.atividades {
    text-align: center; /* Centraliza os textos e os links */
    background-color: rgba(0, 0, 0, 0.65); /* Fundo preto com 65% de transparência */
    padding: 25px;
    border-radius: 12px; /* Deixa as bordas arredondadas, bem moderno */
    
    /* Esses dois comandos abaixo centralizam a CAIXA na tela */
    margin: 25px auto; /* 25px de margem em cima e embaixo, e auto nas laterais para centralizar */
    width: 80%; 
    max-width: 600px; /* Impede que a caixa fique larga demais em monitores grandes */
    
    /* Sombra ao redor da caixa para dar profundidade */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);

}

.atividades p {
    color: #eeeeee;
    margin-bottom: 15px;
}

.atividades ul {
    padding: 0;
    margin: 0;
}

/*Como alinha a ul? tipo tá alinhado a esquerda, queria centralizar ela, mas não sei como fazer isso*/
.atividades ul li {
    list-style-type: none;
    margin: 10px 0; /* Dá um espaçamento bacana entre os exercícios */
}